@big-blue: #1f7ada;

h1 {
	font-family: sans-serif;
	text-align: center;
	font-size: 3em;
	color: @big-blue;
}
.card {
	cursor: pointer;
	line-height: 130px;
	text-align: center;
	font-size: 100px;
	transition: all 0.3s ease;
	&:hover {
		color: rgb(41, 170, 218);
	}
}
.number-of-players {
	margin-top: 17%;
	text-align: center;
	font-size: 10pt;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hand-container {
	position: absolute;
	width: 100%;
	height: 130px;
	bottom: 0;
}
.hand {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
